.index_view{
    height: 100vh;
    display: flex;
    flex-direction: column;
    .shopinfo_view{
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px;
        box-shadow: #ececec 0px 0px 0px 6px;
        padding-left: 10px;
        padding-right: 10px;
        .switch_view{
            width: 25%;
            height: 65%;
            display: flex;
            flex-direction: row;
            border: 1px solid gray;
            border-radius: 50px;
            font-size: small;
            .switech_operation{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                width: 45%;
                margin: 2px;
                &Selected{
                    color: white;
                    width: 55%;
                    background: darkgray;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    margin: 2px;
                }
            }
           
                
        }
    }
    .order_view{
        height: 90vh;
        display: flex;
        flex-direction: row;
        margin-top: 7px;
        .type_view{
            height: 100%;
            width: 20%;
           
            .type_swiper{
                height: 100%;
                background: #e6e6e6;
                .item_view{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: small;
                    Image{
                        width: 40px;
                        height: 40px;
                    }
                    &Selected{
                        border-left: 10px solid palegreen;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: small;
                        background: white;
                        Image{
                            width: 40px;
                            height: 40px;
                        }

                    }
                    
                }
                
            }

        }
        .goods_view{
            height: 100%;
            width: 80%;
            .goods_swiper{
                height: 100%;
                .item_view{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    
                    margin: 20px;
                    Image{
                        width: 150px;
                        height: 150px;
                    }

                }
            }
        }

    }
}